In [1]:
# https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af
# https://github.com/MartinBeckUT/TwitterScraper/blob/master/snscrape/python-wrapper/snscrape-python-wrapper.ipynb
# https://github.com/igorbrigadir/twitter-advanced-search#supported-languages
# https://github.com/scalto/snscrape-by-location/blob/main/snscrape_by_location_tutorial.ipynb
# https://twitter.com/robots.txt

In [2]:
# imports
import os
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
# Imports
import snscrape.modules.twitter as sntwitter

## Scrape by username

In [4]:
# Setting variables to be used below
maxTweets = 1000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('since:2020-01-01 until:2020-12-31 from:elonmusk').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

print(f'{tweets_df1.shape[0]}')
# Display first 5 entries from dataframe
tweets_df1.head()

1001

,Datetime,Tweet Id,Text,Username
0,2020-12-30 19:49:23+00:00,1344370017295503360,@Erdayastronaut Might be a few lumps along the...,elonmusk
1,2020-12-30 18:31:31+00:00,1344350420735410177,@Erdayastronaut @flcnhvy @ErcXspace Production...,elonmusk
2,2020-12-30 18:18:12+00:00,1344347067230027777,@ICannot_Enough @AloysiusFekete @RationalEtien...,elonmusk
3,2020-12-30 18:15:27+00:00,1344346377715761153,@RexChapman Haha,elonmusk
4,2020-12-30 18:09:24+00:00,1344344855237992448,@Erdayastronaut @flcnhvy @ErcXspace SN9 will p...,elonmusk

In [5]:
# Export dataframe into a CSV
# tweets_df1.to_csv('CNN_george_floyd_tweets.csv', sep=',', index=False)